<navbar></navbar>
<main role="main" class="container  ">
    <div style="margin: 50px 0;">&nbsp;</div>
    <div style="margin: 50px 0;">&nbsp;</div>
    <!-- Router outlet to read the content off componenet -->
    <router-outlet></router-outlet>
    <!-- <app-css-animate></app-css-animate> -->


</main>

<!-- /.container -->


<!-- Start Angular Matrial -->
<!-- <mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>My Header</span>
        <span class="header-spacer">
        </span>
        <button mat-button>About Us</button>
        <button mat-button>Service</button>
        <button mat-button>Contact Us</button>
    </mat-toolbar-row>

</mat-toolbar> -->

<!-- <mat-card class="example-card">
    <form class="example-form">
        <mat-form-field class="example-full-width"> -->
<!-- <mat-label>Angular Course</mat-label> -->
<!-- <input name="courseName" matInput [(ngModel)]="courseName" placeholder="ITShare Angular Course">
        </mat-form-field>

    </form>
    <br>
    <button mat-raised-button (click)="ShowMe(courseName)">Show me</button>
</mat-card> -->